<div class="row-fluid" id="signuphome">
 <div class="span12">
    <h2>Ta deg en tur innom for å gjøre valg ingen andre kommer til å ta.</h2>

    <p> <%= link_to 'Registrer deg nå!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
 </div>
</div>